# Database Configuration
DB_ROOT_PASSWORD=strongRootPassword
DB_NAME=quiz_generator
DB_USER=quiz_user
DB_PASSWORD=quiz_password
DB_HOST=db

# Server Configuration
PORT=3001
FRONTEND_URL=https://signalschool.ac.th/quiz

# Google Gemini Configuration
GOOGLE_GEMINI_API_KEY=your_api_key

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here